html {
    background-color: #F5F5F5;
}

#assistHead {
    margin: 0px;
}

h3 {
    color: darkred;
}

a {
    color: darkred;
}

a:visited: {
    color: darkred;
}

#helpMessage {}

.redButton {
   color: #721c24;
    
}

.redButton:hover {
    color: darkred;

}


.bubbles{

    margin-top: 10%;
    border-radius: 4px;

  
    
}

.bubblesimg {

    margin-left: auto;
    margin-right: auto;
}

.bubbleHolder{
    
       max-height: 50em; 


}

.customBreak{
    
    display: block;
    margin-top: .75em;
}

.stronged{
    font-weight: bold;
  
}


footer{
    margin-top: 10%;
    width: 100%;
    height: 15%;
    
}

.mobileMainImg {
    
    height: 20em;
    width: 100%;
    margin-top: 1.5em;
    overflow: hidden;
    
}
.evenRow{
    background-color: gainsboro;
}

.bubbles:hover{
    background-color: whitesmoke;
}


.jumbotron{
    width: 100% !important;
     overflow: hidden !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
    

}

nav{
    
    width: 100% !important;
    max-width: 100% !important;
         overflow: hidden !important;

}

body {
    margin-left: auto;
    margin-right: auto;
}

*{
         max-width: 100%;

}