html {
    background-color: #F5F5F5;
}

#assistHead {
    margin: 0px;
}

h3 {
    color: darkred;
}

a {
    color: darkred;
}

a:visited: {
    color: darkred;
}

#helpMessage {}

.redButton {
   color: #721c24;
    
}

.redButton:hover {
    color: darkred;

}

dl {text-align: left;}

helpBig{
    text-align: right;
}

.bubbles{

    margin-top: 10%;
    border-bottom: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
    padding-bottom: 7em;
  
    
}

.bubbleHolder{
    
       max-height: 50em; 


}

.customBreak{
    
    display: block;
    margin-top: .75em;
}

.stronged{
    font-weight: bold;
  
}

#mobileTitle{
    
    padding-left: .5em;
    
}

#webTitle{
    
    padding-left: 1%;
    
}

footer{
    margin-top: 10%;
    width: 100%;
    
}

.mobileMainImg {
    
    height: 20em;
    width: 100%;
    margin-top: 1.5em;
    overflow: hidden;
    
}

.webTitleRight{
    
    padding-right: 1%;
}

