html {
    background-color: #F5F5F5;
}

#assistHead {
    margin: 0px;
}

h3 {
    color: darkred;
}

a {
    color: darkred;
}

a:visited: {
    color: darkred;
}

a:hover {
    color: darkgray;
}





.bubbles{

    margin-top: 10%;
    border-radius: 4px;

  
    
}


.bubbleHolder{
    
       max-height: 50em; 


}


.evenRow{
    background-color: gainsboro;
}

.bubbles:hover{
    background-color: whitesmoke;
}

.container > img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer{
    margin-top: 10%;
    width: 100%;
    height: 15%;
    
}
